*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "微软雅黑";
	background-color: #ebecef;
}
a {text-decoration: none;}
a:link {color: #9b9ea4;}
a:visited {color: #9b9ea4;}
a:hover{color: #9b9ea4;}
a:active {color: #9b9ea4;}
.header{
	position: relative;
	width: 100%;
	height: 3rem;
	background-color: #0971c4;
}
.ired{
	width: 4rem;
	height: 3rem;
}
.NBALogo{
	position: absolute;
	left: .75rem;
	top: .25rem;
	height: 2.5rem;
}
.nav{
	position: absolute;
	right: 0;
	top: 0;
	width: 6rem;
	height: 3rem;
}
.dataNav{
	display: inline-block;
	width: 3rem;
	height: 3rem;
}
.dataNav img
{
	padding: .2rem .8rem 0;
	width: 1.4rem;
	height: 1.6rem;
	vertical-align: top;
}
.dataNav p{
	margin-top: .2rem;
	width: 3rem;
	height: .8rem;
	line-height: .8rem;
	text-align: center;
	font-size: .8rem;
	color: white;
	font-weight: bold;
}
.hidden{
	display: none;
}
.hiddenNav{
	position: absolute;
	top: 3rem;
	left: 0;
	padding: .5rem 0;
	width: 100%;
	height: 1rem;
	line-height: 1rem;
	background-color: #1d2129;
	color: white;
	z-index: 999;
}
.bottomArrow{
	position: absolute;
	top: -9px;
	right: 1.2rem;
	border-style: solid;
	border-width: 5px;
	border-top-color: rgba(0,0,0,0);
	border-right-color: rgba(0,0,0,0);
	border-left-color: rgba(0,0,0,0);
	border-bottom-color: #1d2129;
}
.hiddenNav a{
	display: inline-block;
	margin-left: -1px;
	width: 25%;
	text-align: center;
	color: #9b9ea4;
}
.borderRight1{
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: rgba(155,158,164,.4);
}
.ewSelect{
	position: relative;
	margin: .5rem 1rem;
	height: 1rem;
	line-height: 1rem;
}
.west,
.east{
	position: absolute;
}
.west{
	left: 0;
}
.east{
	right: 0;
}
.selected{
	color: #0971c4;
}
.myTable{
	width: 100%;
}
.myTable td{
	padding: .5rem 0;
	border-bottom: 1px solid #efeff4;
	white-space: nowrap;
}
.myTable tr td:first-of-type{
	width: 30%;
	padding-left: .5rem;
	text-align: left;
}
.myTable tr td:not(:first-of-type){
	width: 17.5%;
	text-align: center;
}
.tableHeader{
	background-color: #dddddd;
}
.myTable tr:not(.tableHeader){
	background-color: white;
}
.goodRank{
	margin-right: .2rem;
	padding: .05rem .4rem;
	color: white;
	background-color: #f3bf2e;
}
.badRank{
	margin-right: .2rem;
	padding: .05rem .4rem;
	color: white;
	background-color: #b3b3b3;
}
#wRankBox,
#eRankBox{
	position: relative;
}
.wArrow{
	position: absolute;
	top: -.7rem;
	left: 2.6rem;
	border-style: solid;
	border-width: .4rem;
	border-top-color: rgba(0,0,0,0);
	border-right-color: rgba(0,0,0,0);
	border-left-color: rgba(0,0,0,0);
	border-bottom-color: #dddddd;
}
.eArrow{
	position: absolute;
	top: -.7rem;
	right: 2.6rem;
	border-style: solid;
	border-width: .4rem;
	border-top-color: rgba(0,0,0,0);
	border-right-color: rgba(0,0,0,0);
	border-left-color: rgba(0,0,0,0);
	border-bottom-color: #dddddd;
}
